{
  "parserOptions": {
    "ecmaVersion": "2018",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "react-app"
  ],
  "rules": {
    "no-console": "warn"
  },
  "env": {
    "browser": true
  }
}